  
.name{
    width: 100%;
    max-width: 200px; 
    margin-top: 10px;  
    margin-left: 42px;  
}

.user{
    width: 100%;
    max-width: 30px; 
}

.car{
    width: 100%;
    max-width: 30px; 
}

.endNavbar{
    background-color: #c4c4c4;
    width: 100%;
    position: absolute;   
}

.findPokemon{
    font-family: 'Heebo', sans-serif;    
}

.flexbox{
    display: flex;
    flex-direction: column;
}

.favoritePokemon{
    margin-left: 33px;
    margin-top: 30px;
    font-weight: bold;   
    font-size: 15px; 
}

.pokemonName{
    margin-top: 8px;
    margin-left: 33px;
    width: 207px;
    padding: 3px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border:1px #B4B2B2 solid;
    outline: none;  
}

.searchName{
    margin-left: 33px;
    border-radius: 6px;
    padding: 3px;
    width: 215px; 
    margin-top: 19px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;  
    background-color: #0E918C;
    border: 2px #0E918C solid;
    color: white
}

.searchName:hover{
    cursor: pointer;
}

.search{   
    display: flex;
    flex-direction: row; 
    width: 270px;
    position: absolute;
}

.return{    
    border-radius: 6px;
    padding: 3px;
    width: 215px; 
    margin-top: 19px;
    margin-bottom: 80px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;  
    background-color: #51adcf;
    border: 2px #51adcf solid;
    color: white
}

.line{
    margin-left: 30px;
    margin-top: 27px;
    background-color: #c4c4c4;
}

.filterList ul{
    font-family: 'Heebo', sans-serif;
    list-style: none;
    margin-top: 35px;
    width: 270px;
    margin-left: -85px;
}

.searchFilter{    
    border-radius: 6px;
    padding: 3px;
    width: 215px; 
    margin-top: 19px;
    margin-bottom: 50px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;  
    background-color: #0E918C;
    border: 2px #0E918C solid;
    color: white
}

.back{
    border-radius: 6px;    
    width: 60px;
    height: 20px; 
    margin-top: 40px;
    font-size: 11px;
    margin-left: 100px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;  
    background-color: #51adcf;
    border: 2px #51adcf solid;
    color: white
}

.back:hover{
    cursor: pointer;
}

.principal{    
    border-radius: 6px;
    padding: 4px;
    width: 215px; 
    margin-top: 19px;
    margin-left: 297px;
    margin-bottom: 80px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    outline: none;  
    background-color: #51adcf;
    border: 2px #51adcf solid;
    color: white
}

.filter{
    font-family: 'Heebo', sans-serif;
    margin-top: 200px;
    width: 270px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

label{
    margin-left: 35px;
    font-size: 18px;
    font-weight: bolder;
    font-size: 15px; 
}

label span{
    visibility: hidden;
}

#toggle{
    display: none;   
}

.searchFilter:hover{
    cursor: pointer;
}

.return:hover{
    cursor: pointer;
}

.principal:hover{
    cursor: pointer;
}

.alphabet{
    display: flex;    
}
.alphabet1{
    display: flex;    
}
.az{
    margin: 0%;  
    font-size: 14px;
    margin-left: 6px;  
}

.filtros{
    margin-top: 35px;
    font-size: 18px;
    font-weight: bold;
}

.nombre{
    font-size: 14px;
    font-weight: bold;
}
.tipo{
    font-size: 14px;
    font-weight: bold;
}
.caramelos{
    font-size: 14px;
    font-weight: bold;
}
.pokemonList{
    display: flex;    
    flex-direction: column;    
    margin-left: 235px;
}

.atras{
    display: flex;
    justify-content: center;
}

.pokemons{    
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    padding-left: 20px;
    text-align: center;
    padding-right: 112px;
    padding-top: 7px;  
    padding-bottom: 13px;
    font-size: 25px;
}

/*Esta parte da formato a las fichas del pokemon */

.pokemonss{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin-left: 50px;
    max-width: 1200px;
}

.pokemonCard {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemonCard .imgContainer {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemonCard .imgContainer img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemonCard .info {
	margin-top: 10px;
}

.pokemonCard .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemonCard .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

/*Esta parte es el formato de la info general de un pokemon*/

.individualPokeCard{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.individualPokeCard .imgContainer {
    background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 500px;
	height: 500px;
	text-align: center;
}

.individualPokeCard .imgContainer img {
	margin-top: 200px;
	max-width: 90%;
}

.individualPokeCard .info {
    background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
	margin: 10px;
	padding: 20px;
	text-align: center;
}

/* Estilos de la tarjeta informativa de cada pokemón */

.individualPokeCard{
    display: flex;
    flex-direction: column;
}

.imgContainter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("imagenes/background-hero.png");    
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;  
}

.pokemon{
    width: 18%;    
}

.cardText{
    display: flex;
    flex-direction: column;
    text-align: justify;   
}

.information{
    margin-left: 189px;
    font-size: 15px;
}

.typeCard{
    color: #838383;
    padding-top: 0%;
    margin-top: 0%;
}

.stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.extra{
    margin-left: 177px;
    margin-right: 175px;
}

.about{
    margin-left: 189px;
    margin-right: 189px;
    text-align: justify;
    font-size: 15px;
}

.pokename{
    font-size: 26px;
    margin-bottom: unset;
    margin-left: 177px;
    margin-right: 177px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(100, 100, 100, 0.5);
}

/* Estilo del navbar responsive */

header{
    display: inline-block;
    width: 100%;   
    position: relative;
}

.logo{
    float: left;
}

nav{
    float: right;
    font-family: 'Barlow', sans-serif;
    font-weight: bold; 
}

nav ul{
    margin-top: 0%;
}

nav ul li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 42px;   
}

nav ul li p{
    display: inline-block;
}

.toggle-btn{
    width: 35px;
    position: absolute;
    right: 50px;
    top: 30px;    
    display: none;
}

.toggle-btn span{
    float: left;
    width: 100%;
    height: 2px;
    background-color: black;    
    margin-bottom: 8px;
    font-size: 15px; 
    
}



/* Media Querys del Navbar*/

@media(max-width: 991px){

    .toggle-btn{
        display: block;
    }

    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #000;       
    }

    ul{
        margin-bottom: 0%;
        padding-left: 180px;
    }  

    nav.show{
        display: block;
    }

  /* Sección de encontrar el Pokemón por nombre */

    .search{       
        /* display: inline-block;
        position: relative;
        flex-direction: column;       
        width: 270px; */        
        align-items: center;        
        position: relative;
        display: block;
        width: 100%;              
    }

    .findPokemon{    
        display: flex 
        justify-content
        width 100%;      
    }

    .favoritePokemon{
        display: flex;
        justify-content: center;
    }   

    .pokemonName{
        display: flex;        
        justify-content: center;
        width: 33%;
    }

    .flexbox{
        margin-left: 364px;
    }

    .searchName{
        display: flex;        
        justify-content: center;
        width: 35%;
    }

    .line{
        width: 100%;
        margin: 0%;
        margin-top: 27px;
    }

    /* Filtros responsivos */

    .filter{
        font-family: 'Heebo', sans-serif;
        margin-top: 20px;        
        position:relative;
        width: 100%;
    }

    .filterList{
        display: none;
        align-self: center;       
    }

    .filterList ul{
        padding-left: 13px;
        display: flex;
        flex-direction: row;
    }

    .filterList ul li{
        display: inline-block;
    }

    .filterList ul li p{
        display: inline-block;
    }

    .pokemonList{
        position: relative;
        width: 100%;
        display: block;
        margin: 5%;
        margin-top: 0;
    }

    .alphabet1{
        margin-top: 48px;
    }

    .alpha{
        display: flex;
        flex-direction: column;
    }

    .type{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }

    .tipo{
        margin-left: 3px;
    }

    .type2{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-top: 47px;
    }

    .filters1{
        display: flex;       
    }

    .filters2{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .numCandy{
        display: flex;
        flex-direction: row;
    }

    .filtCandy{
        display: flex;
        flex-direction: column;
    }

    .filtCandy2{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .lastCandies{
        margin-left: 15px;
    }
   
    /* Botón de filtros con flecha */

    #toggle:checked + .filterList{
        display: inline-block;
    }

    label{
        font-size: 15px;
        display: inline-block;
        
    }

    label span{
        visibility: visible;
    }
}

/* BUSQUEDA DE POKEMÓN POR NOMBRE */
@media(min-width: 970px) and (max-width: 980px){
    .pokemonName{ 
        display: flex;        
        justify-content: center;       
        width: 34%;
        margin-left: 27px;
    }

    .searchName{
        display: flex;        
        justify-content: center;
        width: 36%;
        margin-left: 27px;
    }
}
/* @media(max-width: 972px){
    .pokemonName{ 
        display: flex;        
        justify-content: center;       
        width: 32%;
    }
    .searchName{
        display: flex;        
        justify-content: center;
        width: 34%;
    }
}
@media(max-width: 976px){
    .pokemonName{ 
        display: flex;        
        justify-content: center;       
        width: 33%;
        margin-left: 32px;
    }
    .searchName{
        display: flex;        
        justify-content: center;
        width: 35%;
        margin-left: 32px;
    }
}
@media(max-width: 955px){
    .pokemonName{ 
        display: flex;        
        justify-content: center;       
        width: 35%;
        margin-left: 19px;
    }
    .searchName{
        display: flex;        
        justify-content: center;
        width: 37%;
        margin-left: 19px;
    }      
}
@media(max-width: 931px){
    .pokemonName{ 
        display: flex;        
        justify-content: center;       
        width: 35%;
        margin-left: 10px;
    }
    .searchName{
        display: flex;        
        justify-content: center;
        width: 36%;
        margin-left: 10px;
    }
} */

/* NOMRAL */

@media(max-width: 817px){

    .toggle-btn{
        display: block;
    }

    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #000;        
    }

    ul{
        margin-bottom: 0%;
        padding-left: 80px;
    }  

    nav.show{
        display: block;
    }

    /* Sección para encontrar al pokemón por su nombre */

    .flexbox{
        margin-left: 279px;
    }
    .findPokemon{     
        justify-content: center;
        width: 100%;      
    }

    /* .pokemonName{ 
        display: flex;        
        justify-content: center;       
        width: 39%;
    }
    .searchName{
        display: flex;        
        justify-content: center;
        width: 41%;
    } */
}

@media(max-width: 769px){

    .toggle-btn{
        display: block;
    }

    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #000;      
    }

    ul{
        margin-bottom: 0%;
        padding-left: 40px;
    }
   
    nav.show{
        display: block;
    }


}

@media(max-width: 728px){

    .toggle-btn{
        display: block;
    }

    nav{
        display: none;
        width: 100%;
        border-top: 1px solid #000;        
    }

    ul{
        margin-bottom: 0%;
        padding-left: 30px;
    }    

    nav.show{
        display: block;
    }
}